@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  width: 375px;
}

.logo {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 0;
  top: 0;
}

.hamburger {
  position: absolute;
  width: 20px;
  height: 2px;
  left: 310px;
  top: 19px;
  margin-left: 16px;
}

h1 {
  font-weight: 100;
  line-height: 95%;
}

.headline {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 20px;
  top: 70px;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-size: 34px;
  color: #1a2236;
}


.description {
    position: absolute;
    width: 288px;
    height: 126px;
    left: 16px;
    top: 250px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1A2236;
}

.collab {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 50px;
  left: 10px;
  top: 200px;
  background: #1a2236;
  font-family: Poppins, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

#principal-link {
    color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.image-down {

    position: absolute;
    width: 320px;
    height: 160px;
    left: 0px;
    top: 540px;
    
}
